<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="w-100">
    <ion-row>
      <ion-col>
        <h1>Library</h1>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let book of [1, 2, 3, 4, 5]; let i = index">
      <ion-col size="1"></ion-col>

      <ion-col size="10" class="book">
        <h2 (click)="goToBook(book)">Book {{ book }}</h2>
      </ion-col>

      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
